
  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kanit&family=Lato&family=Marck+Script&family=Montserrat:wght@600&family=Mukta:wght@600&family=Nunito&family=PT+Sans:wght@700&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kanit&family=Lato&family=Marck+Script&family=Montserrat:wght@600&family=Mukta:wght@600&family=Nunito&family=PT+Sans:wght@700&family=Roboto:wght@400;500&family=Ubuntu:wght@300;400&family=Varela+Round&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategray;
    width: 100%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    
    
}

.searchbar {
    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.searchbar input {
    width: 50%;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    /* outline: none; */
    outline-color: darkcyan;
    padding: 10px 10px;
}

#search-btn {
    border-radius: 30px;
    border: none;
    padding: 10px 10px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500;

}

.row {
    /* height:100vh; */
    /* width:100vw; */

    display: flex;
    justify-content: center;
    margin: 50px 10px;
    flex-wrap: wrap;
    
    

    
    
}

.box {
    padding: 10px;
    width: 25%;
    flex-basis: 22%;
    height: 300px;
    
    overflow: hidden;
    border-radius: 10px;
    position: relative;




}

img {
    height: 100%;
    width: 100%;
}

.overlay  {
    background-color: white;
    position: absolute;
    bottom: -100%;
    border-radius: 10px;
    padding: 10px 20px;
    left: 0;
    transition: 0.5s;
    max-height: 100%;
    min-height: auto;
    width: 100%;



    
}
.overlay h2{
    margin-bottom: 10px;
    font-size: 15px;
}
.overlay p{
    font-size:12px;
    font-family:'Varela Round', sans-serif;
}

.overlay h3{
font-size: 15px;
}

.box span {
    color: orange;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.box:hover .overlay {
    bottom: 0%;
}

.title h3 {
    padding: 10px 20px;
}



.title p {

    padding: 10px 20px;
    

}